.beddings-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.beddings-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.beddings-container ul {
  list-style: none;
  padding: 0;
}

.beddings-container li {
  margin-bottom: 20px;
}

.beddings-container h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.beddings-container p {
  font-size: 1.2em;
  color: #555;
}
.players-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.players-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.players-container ul {
  list-style: none;
  padding: 0;
}

.players-container li {
  margin-bottom: 20px;
}

.players-container h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.players-container p {
  font-size: 1.2em;
  color: #555;
}
.about-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.about-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar-item {
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-link:hover {
  text-decoration: underline;
}
